<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>CI variable generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1>Generator</h1>
						<p>Generate the <code>DOCKER_AUTH_CONFIG</code> variable from your robot account credentials.<br />
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">Generator</a></li>
							<li><a href="#second">Next steps</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<p>This website is built to help ease the task of generating the <code>DOCKER_AUTH_CONFIG</code> variable from your robot account credentials. <code>DOCKER_AUTH_CONFIG</code> is essential for authenticating into container registry.</p>
										<ul class="actions special">
											<li><a href="https://gitlab.cern.ch/shouvik/registry-documentation/-/blob/new-proj/docs/02-getting-started.md#determine-your-docker_auth_config-data" class="button">Learn More</a></li>
										</ul>
									</div>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main ">
								<header class="major special">
									<h2>Generator</h2>
								</header>
								<div class="spotlight">
									<div class="content">
										<p>
											There are two different ways to generate the <code>DOCKER_AUTH_CONFIG</code> variable. First way is to manually input the Robot account username and the token. The second way is to upload the JSON credential file (which is exported from harbor after creating the robot account) for the robot account. 
										</p>

									</div>
								</div>
								<section>
									<div class="row">
										<blockquote>Warning: Robot account tokens are credentials, which can grant access to resources. Be careful where you paste them! We do not record tokens, generation of variable is done on the client side.
										</blockquote>
										<div class="col-6 col-12-medium">
											<h4>Enter your robot account credentials:</h4>
											<form method="post" action="#">
												<div class="row gtr-uniform">
													<div class="col-12">
														<input type="text" name="username" id="username" value="" placeholder="Robot account username" />
													</div>
													<div class="col-12">
														<input type="password" name="token" id="token" value="" placeholder="Robot account token" />
													</div>
													<div class="col-6 ">
														<input type="button" class="button  primary fit" value="Generate" onclick="generateVariable()">
													</div>
													
												</div>
											</form>
										</div>
										<div class="col-6 col-12-medium">
											<h4>Upload the file with Robot account credentials:</h4>
											<div class="content">
												<label for="file" class="button primary fit icon solid fa-upload">
													<i class="fa fa-cloud-upload"></i> Upload Credential file
												</label>
												<input type="file" id="file" name="file" enctype="multipart/form-data" onchange="generateVariableFile();"/>
											</div>
											
										</div>
										
									</div>
									<div class="row">
										<div class="col-12 col-12-medium">
											<h5><code>DOCKER_AUTH_CONFIG:</code></h5>
											<pre><code>{
  "auths": {
    "registry.cern.ch": {
	  "auth": "<span id ="base64encoding">(Click on Generate or upload credential file)</span>"
	}
  }
}</code></pre>
										</div>
									</div>

								</section>
								
							</section>

						<!-- Second Section -->
							<section id="second" class="main special">
								<header class="major special">
									<h2>Next Steps</h2>
								</header>
								<div class="content">
									<p> Once you have generated the contents of the <code>DOCKER_AUTH_CONFIG</code> variable, navigate to the project's <code>Settings>CI/CD</code> page and expand the <code>Variables</code> section. Create a new CI/CD variable and with the generated value of <code>DOCKER_AUTH_CONFIG</code> variable.</p>
									<ul class="actions special">
										<li><a href="https://gitlab.cern.ch/shouvik/registry-documentation/-/blob/new-proj/docs/02-getting-started.md#set-up-a-harbor-project-for-a-new-gitlab-group-or-a-old-gitlab-group-which-does-not-use-gitlab-container-registry" class="button">Learn More</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
					
						<p class="copyright"> Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>